## Python is one of the most powerful languages when it comes to manipulating numerical data.

It is equipped with support for several types of numbers, along with utilities for performing computations on them.

There are three main types of numbers in Python:

In [1]:
print(10)  # A positive integer
print(-3000)  # A negative integer

num = 123456789  # Assigning an integer to a variable
print(num)
num = -16000  # Assigning a new integer
print(num)

10
-3000
123456789
-16000

## Floating Point Numbers

Floating-point numbers, or floats, refer to positive and negative decimal numbers.

Python allows us to create decimals up to a very high decimal place.

This ensures accurate computations for precise values.

A float occupies 24 bytes of memory.

Below, we can find some examples of floats:

In [2]:
print(1.00000000005)  # A positive float
print(-85.6701)  # A negative float

flt_pt = 1.23456789
print(flt_pt)

1.00000000005
-85.6701
1.23456789

## Complex Numbers

Python also supports complex numbers, or numbers made up of a real and an imaginary part.

Just like the print() statement is used to print values, complex() is used to create complex numbers.

It requires two values. The first one will be the real part of the complex number, while the second value will be the imaginary part.

Here’s the template for making a complex number:

complex(real, imaginary)

In [3]:
print(complex(10, 20))  # Represents the complex number (10 + 20j)
print(complex(2.5, -18.2))  # Represents the complex number (2.5 - 18.2j)

complex_1 = complex(0, 2)
complex_2 = complex(2, 0)
print(complex_1)
print(complex_2)

(10+20j)
(2.5-18.2j)
2j
(2+0j)

In [4]:
my_string = "This is MY string!"
print(my_string[0:4]) # From the start till before the 4th index
print(my_string[1:7])
print(my_string[8:len(my_string)]) # From the 8th index till the end

This
his is
MY string!

In [5]:
import pandas as pd
from js import fetch

URL = "https://support.staffbase.com/hc/en-us/article_attachments/360009197031/username.csv"

res = await fetch(URL)
text = await res.text()

filename = 'data.csv'

with open(filename, 'w') as f:
    f.write(text)

data = pd.read_csv(filename, sep=';')
data

/lib/python3.9/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

    Username   Identifier First name Last name
0   booker12         9012     Rachel    Booker
1     grey07         2070      Laura      Grey
2  johnson81         4081      Craig   Johnson
3  jenkins46         9346       Mary   Jenkins
4    smith79         5079      Jamie     Smith

In [6]:
# https://github.com/jupyterlite/jupyterlite/issues/119

import micropip

package_url = "https://raw.githubusercontent.com/innovationOUtside/ouseful_jupyterlite_utils/main/ouseful_jupyterlite_utils-0.0.1-py3-none-any.whl"

await micropip.install(package_url)

from ouseful_jupyterlite_utils import pandas_utils as pdu

# Load CSV from URL
# Via @jtpio
URL = "https://support.staffbase.com/hc/en-us/article_attachments/360009197031/username.csv"
df = await pdu.read_csv_url(URL, "\t")

# Load CSV from local browser storage
# Via @bollwyvl
df = await pdu.read_csv_local("iris.csv", "\t")
df

    sepal_length,sepal_width,petal_length,petal_width,species
0                                   5.1,3.5,1.4,0.2,se
1                                 4.9,3,1.4,0.2,setosa
2                               4.7,3.2,1.3,0.2,setosa
3                               4.6,3.1,1.5,0.2,setosa
4                                 5,3.6,1.4,0.2,setosa
..                                                 ...
145                            6.7,3,5.2,2.3,virginica
146                            6.3,2.5,5,1.9,virginica
147                              6.5,3,5.2,2,virginica
148                          6.2,3.4,5.4,2.3,virginica
149                            5.9,3,5.1,1.8,virginica

[150 rows x 1 columns]

In [7]:
import micropip
await micropip.install('pandas')

In [8]:
data = pd.read_csv('data/iris.csv')

<class 'FileNotFoundError'>: [Errno 44] File data/iris.csv does not exist: 'data/iris.csv'

In [9]:
df = await pdu.read_csv_local("iris.csv", "\t")
df

    sepal_length,sepal_width,petal_length,petal_width,species
0                                   5.1,3.5,1.4,0.2,se
1                                 4.9,3,1.4,0.2,setosa
2                               4.7,3.2,1.3,0.2,setosa
3                               4.6,3.1,1.5,0.2,setosa
4                                 5,3.6,1.4,0.2,setosa
..                                                 ...
145                            6.7,3,5.2,2.3,virginica
146                            6.3,2.5,5,1.9,virginica
147                              6.5,3,5.2,2,virginica
148                          6.2,3.4,5.4,2.3,virginica
149                            5.9,3,5.1,1.8,virginica

[150 rows x 1 columns]

In [11]:
import pandas, pyodide
pandas.read_csv(pyodide.open_url(
  "https://data.gov.au/data/dataset/21c36ca7-582d-42e3-8ade-4c38ddac41c8/resource/d7302233-588f-49fd-9443-a34a13d79dcb/download/caravan_parking.csv")
)

           street         lon        lat
0    Nixon Street  145.399537 -36.376947
1  Marungi Street  145.397609 -36.378372
2  Wyndham Street  145.398664 -36.383806
3     Rowe Street  145.403481 -36.382790
4    North Street  145.405759 -36.382530

In [12]:
import pandas as pd 
import pyodide as py
df = pd.read_csv(py.open_url("https://data.gov.au/data/dataset/21c36ca7-582d-42e3-8ade-4c38ddac41c8/resource/d7302233-588f-49fd-9443-a34a13d79dcb/download/caravan_parking.csv"))

In [13]:
df

           street         lon        lat
0    Nixon Street  145.399537 -36.376947
1  Marungi Street  145.397609 -36.378372
2  Wyndham Street  145.398664 -36.383806
3     Rowe Street  145.403481 -36.382790
4    North Street  145.405759 -36.382530

In [14]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."

In [15]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'